/* transition.css */
.fade-swipe-enter {
  opacity: 0;
  top: 100%;
  /* Start from the very bottom off-screen */
  transition: opacity 0.5s ease, top 0.5s ease;
  position: absolute;
  /* Ensure the element is positioned absolutely */
}

.fade-swipe-enter-active {
  opacity: 1;
  top: 45%;
  /* Move to the middle of the screen (roughly 45%) */
}

.fade-swipe-exit {
  opacity: 1;
  top: 45%;
  /* Start from the middle of the screen */
  transition: opacity 0.5s ease, top 0.5s ease;
  position: absolute;
  /* Ensure the element is positioned absolutely */
}

.fade-swipe-exit-active {
  opacity: 0;
  top: 100%;
  /* Move to the very bottom off-screen */
}

.fade-swipe-enter,
.fade-swipe-enter-active,
.fade-swipe-exit,
.fade-swipe-exit-active {
  left: 46%;
}